<!-- Introdução ao RAZOR (HTML com C#  para chamar um código em c#  coloca-se arroba e abra-se e fecha-se chaves {})-->

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de Veículos.</title>

</head>
<body>
    <h1>Cadastro de Veículos</h1>
    <hr/>

    <form action="/" method="post">

    </form>

</body>
</html>
